$G-gnbH: 56px;//gnb높이

.header_gnb{
    position: relative;
    height: $G-gnbH;
    padding: 0 16px;
    line-height: $G-gnbH;
    border-bottom: 1px solid #ddd;
    .top_menu_area{
        position: absolute;
        top: 0;
        left: 16px;
        bottom: 0;
        font-size: 0;

        .btn_menu{
            display: inline-block;
            padding: 8px;
            line-height: 24px;
            vertical-align: middle;
            .icon_menu{
                width: 24px;
                height: 24px;
                fill: #606060;
                vertical-align: top;
            }
        }
        .link_home{
            display: inline-block;
            padding: 8px;
            width: 80px;
            line-height: 24px;
            vertical-align: middle;
            .icon_youtube{
                vertical-align: top;
            }
        }
        .country_code{
            display: inline-block;
            margin-top: 8px;
            line-height: 24px;
            font-size: 10px;
            vertical-align: top;
        }
    }
    .search_area{
        position: relative;
        display: flex;
        align-items: center;
        width: 50%;
        height: 100%;
        line-height: 30px;
        margin: 0 auto;
        form{
            flex: 1;
            display: flex;
        }
        .input_bx{
            flex: 1;
            display: flex;
            align-items: center;
            height: 24px;
            padding: 2px 6px;
            border: 1px solid #ddd;
            .bx_inner{
                flex: 1;
                .input{
                    width: 100%;
                    height: 100%;
                    border: 0;
                }
            }
            .btn_keyboard{
                flex: 0 1 auto;
                width: 19px;
                padding: 0 2px;
            }
        }
        .btn_search{
            flex: 0 1 auto;
            width: 65px;
            margin-left: -1px;
            border: 1px solid #ddd;
            .icon_submit_search{
                width: 20px;
                height: 20px;
                vertical-align: top;
            }
        }
        .records{
            position: absolute;
            top: 66px;
            left: 0;
            right: 0;
            border: 1px solid #ababab;
            line-height: 40px;
            .bx{
                position: relative;
                &:hover{
                    background-color: #f0f0f0;
                }
            }
            .item{
                display: block;
                margin-right: 68px;
                padding: 0 15px;
                font-size: 20px;
            }
            .btn_del{
                position: absolute;
                top: 0;
                bottom: 0;
                right: 0;
                padding: 0 20px;
                font-size: 16px;
            }
        }
    }
    .btn_area{
        position: absolute;
        top: 0;
        right: 16px;
        bottom: 0;
        font-size: 0;
        .group_btn{
            position: relative;
            display: inline-block;
            vertical-align: middle;
            .ly_menu{
                position: absolute;
                top: $G-gnbH;
                right: 0;
                background-color: #fff;
                border: 1px solid rgba(0, 0, 0, 0.1);
                .item{
                    padding: 5px 0;
                    &.type_bd{
                        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
                    }
                }
                .menu_link{
                    display: block;
                    padding: 0 36px 0 16px;
                    font-size: 14px;
                    line-height: 47px;
                    color: #030303;
                    &:hover{
                        background-color: rgba(0, 0, 0, 0.05);
                    }
                }
                .svg_style{
                    display: inline-block;
                    margin-right: 16px;
                    vertical-align: top;
                    width: 24px;
                    height: 24px;
                    vertical-align: -7px;
                }

                .txt{
                    
                }
                &.type_info{
                    width: 219px;
                }
            }
        }
        [class*=btn_]{
            display: block;
            padding: 8px;
            line-height: 24px;
            .svg_style{
                width: 24px;
                height: 24px;
                fill: #606060;
                vertical-align: top;
            }
        }
        .btn_user{
            line-height: 24px;
            .user_thumb{
                overflow: hidden;
                border-radius: 50%;
            }
        }
    }
}